/* @import '//sass/variables'; */
* {
    margin: 0;
    
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
.benefits {
    background-color: #F6F6F6;
    padding-top: 73px;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/bonus';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';

@import 'blocks/media';
